* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  //font-family: "Work Sans", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_sm {
  width: 60%;
  margin: 0 auto;
}
.d_flex {
  display: flex;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 1rem 1.85rem;
}

.btn_dark {
  background-color: $color_bgGrey;
  transition: background-color 0.3s;
  &:hover {
    background-color: $primary_yellow;
    color: $color_bgGrey;
  }
}
.btn_yellow {
  background-color: $primary_yellow;
  color: $color_bgGrey;
  transition: background-color 0.3s;
  &:hover {
    background-color: $color_bgGrey;
    color: white;
  }
}
