* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  //font-family: "Work Sans", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_sm {
  width: 60%;
  margin: 0 auto;
}
.d_flex {
  display: flex;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 1rem 1.85rem;
}

.btn_dark {
  background-color: $color_bgGrey;
  transition: background-color 0.3s;
  &:hover {
    background-color: $primary_yellow;
    color: $color_bgGrey;
  }
}
.btn_yellow {
  background-color: $primary_yellow;
  color: $color_bgGrey;
  transition: background-color 0.3s;
  &:hover {
    background-color: $color_bgGrey;
    color: white;
  }
}
#central_btn {
  margin-bottom: 3rem;
  &::after,
  &::before {
    position: relative;
    margin: 0 1.5rem;
    display: inline-block;
    content: "";
    height: 2px;
    background-color: white;
    width: 380px;
  }
  &::before {
    bottom: 1.45rem;
  }
  &::after {
    bottom: 0.25rem;
  }
  .btn {
    color: $color_bgGrey;
    padding: 0.75rem 7rem;
    transition: all 0.3s;
    &:hover {
      background-color: $primary_yellow;
      color: white;
    }
  }
}

h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  color: $color_bgGrey;
}
p {
  font-size: 0.9rem;
  line-height: 2rem;
  text-align: center;
  color: $color_Grey;
}
.row_col3 {
  width: calc(100% / 3 - 2rem);
}
.row_col4 {
  width: calc(100% / 4 - 1rem);
}
.main_text {
  justify-content: center;
  width: 60%;
}
