@mixin shape_top {
  .shape_top {
    position: relative;
    overflow: hidden;
    height: 80px;
    &::before {
      content: "";
      border-radius: 100%;
      position: absolute;
      background: white;
      right: -200px;
      left: -200px;
      top: -200px;
      bottom: 0;
    }
  }
}
@mixin shape_bottom {
  .shape_bottom {
    position: relative;
    overflow: hidden;
    height: 80px;
    &::after {
      content: "";
      border-radius: 100%;
      position: absolute;
      background: white;
      right: -200px;
      left: -200px;
      top: 0;
      bottom: -200px;
    }
  }
}
