#specialists {
  padding-top: 8rem;
  flex-direction: column;
  align-items: center;
  .main_text {
  }
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    hr {
      margin-top: 20px;
      margin-bottom: 30px;
      width: 215px;
      border: none;
      border-bottom: 2px solid $primary_yellow;
    }
  }

  .cards {
    width: 100%;
    margin: 5rem 2rem;
    .card {
      @include flex_column;
      position: relative;
      background-color: $section_color;
      margin: 0 1rem;
      padding: 2rem 1rem;
      border-radius: 10px;

      i {
        font-size: 1.5rem;
        border: 1px solid $color_Grey;
        border-radius: 50%;
        padding: 1rem;
        color: $color_Grey;
      }
      h2 {
        margin: 1rem 0;
      }
      &:hover .card_layover {
        opacity: 1;
        transition: all 0.3s;
      }
      .card_layover {
        @include layover;
        border-radius: 10px;

        .btn_yellow {
          background-color: $secondary_yellow;
          &:hover {
            background-color: $color_bgGrey;
          }
        }
      }
    }
  }
}
