//Color palette
$primary_yellow: #fed23f;
$secondary_yellow: #ffe07b;
$section_color: #f5f5f5;
$color_Grey: #666665;
$color_bgGrey: #31312f;
$color_lightGreen: #65bc7b;

//fonts
$font_montserrat: "Montserrat", sans-serif;
$font_work: "Work Sans", sans-serif;
