@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap");
@import "partials/variables";
@import "partials/commons";
@import "partials/mixins";
@import "partials/jumbotron", "partials/section-specialists",
  "partials/recent-works", "partials/our-value", "partials/latest-news";

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  padding: 2rem 0;
  box-shadow: 0px 0px 20px 0px #00000087;
  .logo img {
    width: 190px;
  }
  li {
    display: inline-block;
    margin-left: 2rem;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: $color_Grey;
      &.active,
      &:hover {
        color: $primary_yellow;
      }
    }
    &:last-child a {
      background-color: $primary_yellow;
      padding: 0.5rem 1.5rem;
    }
    &:last-child a:hover {
      background-color: $color_bgGrey;
      color: white;
    }
  }
}

/* Banner Yellow */
.banner_yellow {
  background-color: $primary_yellow;
  height: 150px;
  width: 100%;
  position: relative;
  h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 150px;
    vertical-align: middle;
    font-size: 2rem;
    color: $color_bgGrey;
  }

  .btn_dark {
    padding: 0.6rem 1.75rem;
    &:hover {
      background-color: white;
    }
  }
  a {
    position: absolute;
    text-align: center;
    bottom: -20px;
    left: 43%;
    border: 2px solid;
  }
}

/* section statistics */
#statistics {
  height: 80vh;
  background-image: url(../img/home-244125289.jpg);
  background-size: cover;
  background-position-y: center;
  @include shape_top;
  @include shape_bottom;
  .shape_bottom {
    top: 45%;
  }
  .data {
    position: relative;
    justify-content: center;
    align-items: center;
    top: 30%;
    padding: 0 6rem;
    .data_number {
      @include flex_column;
      margin: 1rem;
      i {
        color: $primary_yellow;
        font-size: 4.5rem;
      }
      h2 {
        color: yellow;
        font-weight: 400;
        font-size: 3.5rem;
        font-family: $font_work;
        padding: 0.5rem 0;
      }
      span {
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

/* slider */
#owner_slider {
  background-image: url(../img/home-parallax-144609983.jpg);
  background-size: cover;
  background-position-y: 35%;
  height: 95vh;
  position: relative;
  @include flex_column;
  @include shape_top;
  @include line_after;
  @include shape_bottom;
  .shape_bottom {
    top: 8%;
    &::after {
      background-color: $section_color;
    }
  }

  .shape_top {
    &::before {
      background: $section_color;
    }
  }
  h2 {
    color: white;
    margin-top: 5rem;
    &::after {
      left: 44%;
    }
  }
  .slider {
    @include flex_column;
    color: white;
    padding: 1rem 0;
    img {
      border-radius: 50%;
    }
    .main_text {
      p {
        color: white;
        margin: 1.25rem 0;
        font-size: 1.15rem;
        font-style: italic;
      }
      h3 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }
    }
    .circles {
      .fa-circle {
        font-size: 0.75rem;
      }
    }
  }
}

/* parntners */
#partners {
  @include flex_column;
  @include line_after;
  padding: 5rem 0;
  .main_text {
    h2 {
      &::after {
        left: 39%;
      }
    }
  }
  .partner_list {
    width: 80%;
    padding: 2rem 3rem;
    .partner {
      width: calc(100% / 5 - 2rem);
      margin: 0 1rem;
      img {
        max-width: 100%;
      }
    }
  }
}

/* jumbo_bottom */

#jumbo_bottom {
  height: 54vh;
  background-image: url(../img/about-call-to-action-57862405.jpg);
  background-size: cover;
  background-position-y: 70%;

  .main_content {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 75%;
    height: 100%;
    align-items: center;
  }
  .col_left {
    @include line_after;
    width: 70%;
    padding-right: 1rem;
    h2,
    span {
      text-align: left;
      color: white;
    }
    h2 {
      &::after {
        left: 0;
      }
    }
    span {
      font-size: 1.25rem;
    }
  }
  .col_right {
    @include flex_column;
    width: 30%;
    text-align: right;

    .btn {
      letter-spacing: 2px;
      padding: 1rem 3rem;
    }
    span {
      color: white;
      display: block;
      margin-top: 1rem;
      text-align: center;
    }
  }
}

/* site footer */

#site_footer {
  font-family: $font_work;
  background-color: #3f3f3f;
  padding-top: 1rem;
  .main_content {
    background-color: #1e1e1e;
    padding: 4rem 0;
    .row.container {
      align-items: unset;
    }

    p {
      margin: 2.5rem 0;
      text-align: left;
      font-size: 1rem;
    }
    a:not(a.btn, a#external_link) {
      display: block;
      text-decoration: none;
      color: $primary_yellow;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
    a#external_link {
      color: #5ea3e7;
    }
    .row_col4 {
      margin: 0 1rem;

      .tweet_top {
        color: white;

        .logo img {
          width: 30px;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
        .tweet_title {
          font-size: 0.8rem;
          .author {
            font-weight: 600;
          }
        }
      }
      .tweet p {
        font-size: 0.8rem;
        text-align: left;
        color: white;
        line-height: 1rem;
      }

      .contact {
        margin-bottom: 1rem;
        i {
          padding-top: 0.35rem;
          margin-right: 1rem;
          font-size: 1rem;
          color: $color_Grey;
        }
        .details {
          flex-direction: column;
          span {
            color: $color_Grey;
            font-size: 0.9rem;
            line-height: 1.25rem;
          }
        }
      }

      .map {
        img {
          max-width: 100%;
        }
      }
    }
  }
  .footer_bottom {
    background-color: #111111;
    justify-content: space-between;
    padding: 1.5rem 0;
    .copyright {
      color: $color_Grey;
      font-size: 0.8rem;
      a {
        color: #bcbcbc;
        text-decoration: none;
        &:hover {
          color: $primary_yellow;
        }
      }
    }
    .socials {
      color: #bcbcbc;
      i {
        margin: 0 0.8rem;
      }
    }
  }
}
